# === API Keys ===
OPENROUTER_API_KEY=seu_token_aqui
PINECONE_API_KEY=sua_chave_do_pinecone
PINECONE_INDEX_NAME=nome_do_index_no_pinecone
GOOGLE_API_KEY=sua_chave_do_google_ai_studio
GEMINI_API_KEY=sua_chave_gemini
HF_TOKEN=seu_token_do_huggingface

# === GCP ===
GCP_PROJECT_ID=rag-eleicoes
GCP_REGION=southamerica-east1
